{% extends "base.html" %}

{% block main %}
<div class="card">
    
    <div class="card-header d-flex flex-column justify-content-center">
        <img src="{{ url_for('static' ,filename='me.jpg')}}" class=" d-flex card-img-top rounded-circle rounded-sm" alt="...">
        <a class="d-flex justify-content-center mt-1" href="https://www.instagram.com/takumi22222/?hl=en" target="_blank">@takumi22222</a>
        <h6 class="d-flex justify-content-center my-1">Sandusky,Ohio</h6>
        <h6 class="d-flex justify-content-center mb-1">Joined Since the begining of time</h6>
    </div>
    
    <div class="card-body justify-content-" >
        <p4 class="card-text d-flex justify-content-center">I am Tai-Vaughn Kobe D. white in my 21 years i have gathered many tallents,hobbie 
        and traits including guitar playing, skateboarding, mixology , karate and fermentaion. I am truely a jack of all trades.</p4>
    </div>

</div>
{% endblock %}